[v-cloak]{
	display: none;
}

html{
	overflow-y: unset;
}

.v-main{
	margin-bottom: 100px;
}

.item-table{
	background-color: #1e1e1e;
    color: #fff;
	display: grid;
    grid-template-columns: minmax(max-content, 90px) auto 34px;
}

.delete-tier{
	visibility: hidden;
}

:hover + .delete-tier, :hover.delete-tier{
	visibility: visible;
}

.item-table > :first-child{
	text-align: center;
}

.tier-name{
	text-align: center;
	max-width: 300px;
	min-width: 40px;
}

.item-table > div{
    padding: 10px;
}

td input{
	width: inherit;
	text-align: inherit;
}

.autosize-input {
  display: inline-grid;
  align-items: center;
  position: relative;
}
.autosize-input::after,
.autosize-input input {
  width: auto;
  min-width: 0em;
  grid-area: 1/2;
  padding: 0.25em;
  margin: 0;
}
.autosize-input::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}

#app{
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}